@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(66.57deg, #708B82 0%, #9FC9BC 100.7%);
  color: #ffffff;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

body::after {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
}

.logo {
  width: 100%;
  height: auto;
}

.logo path {
  fill: #ffffff;
}

.center {
  width: 100%;
  max-width: 500px;
  padding: 24px;
}

.title {
  padding-top: 50px;
  text-align: center;
}

.players {
  padding-top: 24px;
  font-size: 18px;
}

.player-row {
  display: flex;
  justify-content: space-between;
}

.player-name {
  text-transform: uppercase;
  font-weight: 700;
}

.assets-row {
  padding-top: 40px;
  padding-bottom: 24px;
}

.assets-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.screens, .buttons, .designs, .mascots, .logos {
  padding-top: 24px;
}